<div class="mr-10 ml-10">
  <h2
    class="text-center font-medium text-2xl mt-5 mb-10 tracking-wide text-slate-800"
  >
  Other activities
  </h2>

  <div class="flex flex-wrap flex-col gap-10">
    <a class="block p-6 border border-gray-200 rounded-lg shadow bg-slate-50">
    <ul class="list-disc pl-6 flex-1">
      <li class="mb-2">
        Author of training materials and training courses for "EcoInnovators" in
        2019, 2020, 2021 and "Young Poland 2020". Projects were realized thanks
        to funds of Krakow Fund of Environmental Protection and Water Management
        and carried out by the Institute for Sustainable Energy where I am the
        founder and contractor in projects.
      </li>
      <li>
        „ECO-START: Ecological education of school youth of the Malopolska
        Region” in 2019 and 2020. This project was realized thanks to funds of
        Krakow Fund of Environmental Protection and Water Management and carried
        out by the Institute for Sustainable Energy
      </li>
      <li>
        A contractor in „EKO-KIDS: Ecological education of school youth of the
        Malopolska Region”
      </li>
      <li>
        The project manager of the project „II International Conference on the
        Sustainable Energy and Environmental Development (SEED’17)”,
        Environmental education from the funds of the Krakow Fund for
        Environmental Protection and Water Management
      </li>
      <li>
        Organisation of a Polish scientific conference and 7 international
        scientific conferences
      </li>
      <li>
        Editor of 3 Books of Abstract and editor of a scientific monography
        "Energy and environmental aspects of the operation of biomass-powered
        heating devices"
      </li>
      <li>
        preparation of an expert opinion for the city of Nowy Sącz: “Adaptation
        plan to climate change”
      </li>
      <li>member of Reviewer Board in journal "Air" by MDPI</li>
    </ul>
</a>
    <div class="flex-1">
        <a class="block p-6 border border-gray-200 rounded-lg shadow bg-slate-50">
      <h2 class="text-base font-medium mb-2">Courses</h2>
      <ul class="list-disc pl-6 flex-1">
        <li class="mb-2">
          Basics in project management, PM Experts Sp. z o.o., PROVIDER ID:
          2666, Warszawa, 6.03.2017
        </li>
        <li class="mb-2">
          Management of R&D projects, Europoint, Kraków, 10- 12.07.2017
        </li>
        <li class="mb-2">
          Specialist for Alumni Relations, European Association for the
          International Education, Haque, Netherlands, 9–11.04.2014
        </li>
        <li class="mb-2">
          NOx and Particulate Real Drive Emissions (RDE), University of Leeds,
          Great Britain 21-25.05.2018
        </li>
        <li class="mb-2">
          Neural networks, Statsoft Polska, 22-23.11.2021, no. 202111SNN07
        </li>
        <li class="mb-2">Basics of Phyton, 25.02.2023, HardCoder</li>
        <li class="mb-2">Data science in python, Februar 2024, Statsoft</li>
        <li class="mb-2">
          PMP Exam Preparation, November 2023, Altkom Academy
        </li>
        <li class="mb-2">Python - kurs semestralny: wiosna 2023, HardCoder</li>
        <li class="mb-2">
          Praca z talentami “Warsztaty po badaniu Talentów Gallupa dla
          dydaktyków”, 05.07.2024, AGH w Krakowie
        </li>
      </ul>
    </a>
    </div>
    
  </div>
</div>
