<div class="mr-10 ml-10">
    <h2
      class="text-center font-medium text-2xl mt-5 mb-10 tracking-wide text-slate-800"
    >
      Didactic activity
    </h2>
    <div class="flex flex-wrap flex-col gap-10 ">
      <a class="block p-6 border border-gray-200 rounded-lg shadow bg-slate-50">
      <ul class="list-disc pl-6 flex-1">
        <li class="mb-2">
          Preparation and implementation of a course "Project management in the
          aspect of environmental issues" for the purposes of AGH PhD School
        </li>
        <li class="mb-2">
          Development of a course within AGH AI Days "Basics of environmental
          AI-based data science - how to start?"
        </li>
        <li class="mb-2">
          Didactic classes at University of Split in Croatia: "Combustion processes
          as a source of atmosphere pollution in Poland and Croatia", 02-05.06.2019,
          Erasmus+
        </li>
        <li class="mb-2">
          Development and implementation of a course for AGH students “AI and data
          science in Eco-engineering: from theory to practice”
        </li>
      </ul>
    </a>
      <div class="flex-1">
        <a class="block p-6 border border-gray-200 rounded-lg shadow bg-slate-50">
        <h2 class="text-base font-medium mb-5">Regular courses</h2>
        <ul class="list-disc pl-6">
          <li class="mb-2">Environmental Analytics (Pl)</li>
          <li class="mb-2">
            Organic Chemistry and Introduction to Environmental Protection (Eng)
          </li>
          <li class="mb-2">Industrial Measurments (Pl)</li>
          <li class="mb-2">
            Project management in the aspect of environmental protection (Eng)
          </li>
          <li class="mb-2">Advanced Fuels Technologies (Pl)</li>
          <li class="mb-2">
            Sustainable waste management and waste-free solutions (Pl)
          </li>
          <li class="mb-2">Basics of environmental chemistry (Eng)</li>
          <li class="mb-2">Chemistry of the environment (Pl)</li>
          <li class="mb-2">
            Methods of samples preparation for analytical measurements (Pl)
          </li>
          <li class="mb-2">Modern analytical techniques (Pl)</li>
          <li class="mb-2">Sampling and analytics of environmental samples (Pl)</li>
          <li class="mb-2">Chemical technologies (Pl)</li>
          <li class="mb-2">Laboratory analysis of fuels and wastes (Pl)</li>
          <li class="mb-2">Industrial analytical methods (Pl)</li>
        </ul>
      </a>
      </div>
    </div>
  </div>
  