<div class="mr-10 ml-10">
    <h2 class="text-center font-medium text-2xl mt-5 mb-10 tracking-wide text-slate-800">
        Projects
      </h2>
      <a class="block p-6 border border-gray-200 rounded-lg shadow bg-slate-50 mb-10">
<ul class="list-disc pl-6">
    <li class="mb-2">
        2015-2016: Chemical characterization and identification of atmospheric aerosol sources from the Krakow agglomeration, Dean's grant, project manager
    </li>
    <li class="mb-2">
        2018-2019: Chemical characterization of by-products of combustion processes of solid, liquid and gaseous fuels for the identification of chemomarkers of air pollution, Dean's grant, project manager
    </li>
    <li class="mb-2">
        2013 – 2017: WTZ Polen, Chemical characterization of ambient particulate matter and comparison of its sources in South Poland and East Austria, Partner: TU Wien, Austria, status: contractor
    </li>
    <li class="mb-2">
        2014-2015: Development of a coal gasification technology for high-efficiency fuel and power production, KIC InnoEnergy, 2011.01.01-2015.12.31, status: contractor
    </li>
    <li class="mb-2">
        2021: Determination of the causes of carbon deposits in the furnace and recuperator of line no. 2 in the sewage treatment plant in Łódź", participation in the implementation of the expert opinion
    </li>
    <li class="mb-2">
        2021: The use of artificial neural networks for modelling the improvement of the quality of solid fuel combustion in fireplace furnaces - preliminary studies, IDUB AGH, project manager
    </li>
    <li class="mb-2">
        2021: Energy Research Center VŠB, Technical University of Ostrava, Czech Republic, project TAČR number TN1000007
    </li>
    <li class="mb-2">
        2023: Pakiet Habilitacyjny, IDUB AGH, project manager
    </li>
    <li class="mb-2">
        2023: Application of artificial neural networks as a tool for optimizing the operation of fireplace stoves in terms of reducing the concentration of micropollutants emitted in the combustion processes of solid fuels, IDUB AGH, project manager
    </li>
    <li class="mb-2">
        2024: 'Research on the identification of combustion of unsuitable fuels and self-diagnostics systems of boiler combustion of solid fuels for domestic heating' within the framework of the National Sustainability Programme by ERDF/ESF (Czech Republic), No. CZ.02.1.01/0.0/0.0/18_069/0010049, status: contractor
    </li>
</ul>
</a>
</div>