<nav class="bg-slate-100">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between p-4 ml-2">
      <a  [routerLink]="'/home'" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Znak_graficzny_AGH.svg/285px-Znak_graficzny_AGH.svg.png?20160716083238" class="h-16 w-16" alt="Agh logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap ">Katarzyna
            Szramowiat-Sala</span>
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 ml-3 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 " aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto mt-2 ml-4" id="navbar-default">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg  md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 ">
          <li>
            <a [routerLink]="'/home'" routerLinkActive="text-blue-700 " class="block py-2 px-3  rounded md:bg-transparent md:hover:text-blue-700 md:p-0" aria-current="page">Home</a>
          </li>
          <li>
            <a [routerLink]="'/publications-page'" routerLinkActive="text-blue-700 " class="block py-2 px-3   rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">Publications</a>
          </li>
          <li>
            <a  [routerLink]="'/participation-in-conferences-page'" routerLinkActive="text-blue-700 " class="block py-2 px-3  rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">Participation in
                conferences</a>
          </li>
          <li>
            <a [routerLink]="'/projects-page'" routerLinkActive="text-blue-700" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">Projects</a>
          </li>
         
          <li>
            <a [routerLink]="'/supervision-page'" routerLinkActive="text-blue-700 " class="block py-2 px-3  rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">Supervision</a>
          </li>
          <li>
            <a  [routerLink]="'/didactic-activity-page'" routerLinkActive="text-blue-700 "  class="block py-2 px-3  rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">Didactic
                activity</a>
          </li>
          <li>
            <a [routerLink]="'/cooperation-page'" routerLinkActive="text-blue-700 "  class="block py-2 px-3  rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">Cooperation</a>
          </li>
          <li>
            <a [routerLink]="'/other-activities-page'" routerLinkActive="text-blue-700 "  class="block py-2 px-3  rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">Other
                activities</a>
          </li>
          <li>
            <a [routerLink]="'/what-ilike-page'" routerLinkActive="text-blue-700" class="block py-2 px-3  rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">What I like</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
