<div class="mr-10 ml-10">
    <h2 class="text-center font-medium text-2xl mt-5 mb-10 tracking-wide text-slate-800">
        Supervision
      </h2>
      <a class="block p-6 border border-gray-200 rounded-lg shadow bg-slate-50 mb-10">
      <h3 class="mb-2 text-base font-medium">Co-Supervisor of PhD theses:</h3>
      <ul class="list-decimal pl-6">
        <li class="mb-2">
            2017-2021: Chemical characteristics of solid particles emitted from selected sources in combustion processes (Eng) - finished with honours
        </li>
        <li class="mb-2">
            2019-2024: Analysis and Possibility of Reducing Unregulated Micropollutants from Spark-Ignition Vehicles with Modified Cordierite (Pl) - finished
        </li>
        <li class="mb-2">
            2020-present: Development of a method for the determination of soil gas and hydrogen (Pl) - implementation doctorate programme with Chemkop, Krakow
        </li>
        <li class="mb-2">
            2022-present: Development of innovative test methods and a thorough update of methodologies from the withdrawn standards for the determination of selected chemical components in rock salt drill cores from deposits selected for the construction of underground cavern gas/substance storage facilities and development of a mathematical method for calculating the ion balance (Pl) - implementation doctorate programme with Chemkop, Krakow
        </li>
        <li class="mb-2">
            2022-present: Development of innovative methods for the determination of basic chemical components along with a method of preparing representative samples from potassium-magnesium salt drill cores on the example of polyhalites (Pl) - implementation doctorate programme with Chemkop, Krakow
        </li>
        <li class="mb-2">
            2024-present: Analytical and technological applications of a vibration-generated fluidized bed (Pl)
        </li>
    </ul>
</a>
<a class="block p-6 border border-gray-200 rounded-lg shadow bg-slate-50 mb-10">
    <h3 class="mb-2">Supervisor of Master theses:</h3>
    <ul class="list-decimal pl-6">
        <li class="mb-2">
            2024/2025: The Use of Machine Learning to Conditions Control in Artificial Water Tank for Biofuel Algae Production
        </li>
        <li class="mb-2">
            2024/2025: Selection of basic parameters of artificial neural networks for their use in the analysis of environmental data
        </li>
        <li class="mb-2">
            2024/2025: Selection of basic parameters of artificial neural networks for their use in environmental research
        </li>
        <li class="mb-2">
            2024/2025: Application of data mining technique in environmental research on the example of a selected energy production process
        </li>
    </ul>
    </a>
    <a class="block p-6 border border-gray-200 rounded-lg shadow bg-slate-50">
    <h3 class="mb-2">Supervisor of Bachelor-engineering theses:</h3>
    <ul class="list-decimal pl-6">
        <li class="mb-2">
            2024/2025: Application of data mining technique in environmental research on the example of a selected energy production process
        </li>
        <li class="mb-2">
            2021/2022: Identification of pollutants of emerging concern in car exhausts
        </li>
    </ul>
</a>
    
<div>